header {
  display: flex;
  position: fixed;
  border-bottom: 1px solid seashell;
  z-index: 1;
  flex-direction: row;
  justify-content: space-between;
  background-color: black;
  height: 69px;
  width: 100%;

 }

 nav {
   float: right;
   align-items: right;
   color: white;
   list-style-type: none;
 }

li {
    list-style-type: none;
    display: inline;
    color: white;
    list-style-type: none;
 }

body {
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;

}

.mission {
  display: flex;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
  height: 700px;
  width: 900px;
  border-bottom: 1px solid seashell;
  align-items: center;
  justify-content: center;
  width: 100%;

}

.stripe {
  width: 100%;
  background-color: black;

}


header img {
  height: 50px;
  padding-left: 10px;
  margin-bottom: 10px;
}

div {
  margin: auto;
}

.tea {
  text-align: center;
  justify-content: center;

}

.foto {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 1000px;
}

.foto img {
  height: 200px;
  width: 300px;
}

.featured {
  display: flex;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg");
  height: 500px;
  flex-wrap: wrap;
  text-align: center;

}

.featured h3 {
  text-align: center;
}

.area {
  background-color: black;
  width: 300px;

}

.end {
  text-align: center;
  height: 200px;
}
.end h6 {
  color: white;
}

footer {
  text-align: left;
}
