header {
  display: flex;
  color: white;
  border-bottom: 1px;
  list-style-type: none;
  display: inline-block;
  color: white;
  flex-grow: 1;
   list-style-type: none;
   flex-direction: row;
   justify-content: space-between;
 }



 .logo  {
 padding-left: 10px;
 align-items: left;
 justify-content: left;
 }

 .nav_bar {
   float: right;
   align-items: right;
 }

 ul {
    list-style-type: none;
    display: inline-block;
    color: white;
    flex-grow: 1;
     list-style-type: none;
 }

body {
  font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;

}

.mission {
  display: flex;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg);
  height: 700px;
  width: 1000px;
  border-bottom: 1px solid seashell;
  align-items: center;
  justify-content: center;
  width: 100%;

}

.stripe {
  width: 100%;
  background-color: black;
}


img {
  display: flex;
  height: 200px;
  width: 300px;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
  flex-shrink: 1;
  margin-bottom: 10px;
}

div {
  margin: auto;
}

.tea {
  text-align: center;
  justify-content: center;

}

.foto {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 1000px;

}

.featured {
  display: flex;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg);
  height: 500px;
  flex-wrap: wrap;

}

.area {
  background-color: black;
  width: 300px;

}
