header {
  display: flex;
  color: white;
  border-bottom: 1px;
  list-style-type: none;
  display: inline-block;
  color: white;
  flex-grow: 1;
   list-style-type: none;
 }



 .logo  {
 padding-left: 10px;
 }

 .navbar {
   float: right;
 }

 ul {
    list-style-type: none;
    display: inline-block;
    color: white;
    flex-grow: 1;
     list-style-type: none;
 }

body {
  font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    align-content: center;
}
.stripe {
  width: 100%;
  align-content: center;
  overflow: auto;
}


.mission {
  display: flex;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg);
  height: 700px;
  width: 1100px
  border-bottom: 1px solid seashell;

}


}

.content {
   display: flex;
   flex-shrink: 1;
}

img {
  display: flex;
  height: 200px;
  width: 300px;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
  flex-shrink: 1;

  margin-bottom: 10px;
}
